// colors
$aqua: #35b192;
$text-aqua: #1cad89;
$light-gray: #bbbbbb;
$med-gray: #777777;
$dark-gray: #333333;
$red: red;

// overview page colors
$white: #ffffff;
$black: #1a171b;
$light-black: #202020;
$gold: #c7bda4;
$silver: #7d7d7d;
$gray: #f4f4f4;

//social media colors
$facebook-blue: #0f53a1;
$google-red: #dc4d2d;
$twitter-blue: #00a9fb;

$base-color: #e0e0e0;
$secondary-color: #666666;